<div class="login-container d-flex align-items-center justify-content-center">
  <div class="login-card shadow p-5 text-center">
    <h2 class="purple-text fw-bold mb-4">MICKEY LOGIN</h2>
    
    <div class="mb-3 text-start">
      <label class="form-label small fw-bold">Email Address</label>
      <input type="email" class="form-control rounded-pill border-0 shadow-sm px-3" 
             [(ngModel)]="loginData.email" placeholder="admin@mickey.com">
    </div>

    <div class="mb-4 text-start">
      <label class="form-label small fw-bold">Password</label>
      <input type="password" class="form-control rounded-pill border-0 shadow-sm px-3" 
             [(ngModel)]="loginData.password" placeholder="123">
    </div>

    <button class="btn btn-mickey w-100 py-2 fw-bold mb-4" (click)='onLogin()'>SIGN IN</button>

    <div class="quick-copy-box p-3 rounded-4 text-start">
      <p class="small fw-bold text-purple border-bottom pb-1">Sample Accounts:</p>
      
      <div class="mb-2">
        <span class="badge bg-secondary me-1">Employee</span>
        <code class="text-dark">admin@mickey.com</code> / <code>123</code>
      </div>
      
      <div>
        <span class="badge bg-secondary me-1">Customer</span>
        <code class="text-dark">kh01@gmail.com</code> / <code>123</code>
      </div>
    </div>
  </div>
</div>